---
layout: default
---

<div class="container">
  <h1 class="home-title">{{ resource.data.title }}</h1>
</div>

<div class="container home-intro-container">
  <img class="home-selfie box-shadow" src="{{ resource.data.selfie }}"/>
  <div class="home-content">
    {{ content }}
  </div>
</div>
