---
layout: default
---

<div class="container">
  <h1>{{ page.title }}</h1>
</div>

<div class="container">
  <span class="sub-title">{{ resource.data.subtitle }}</span>
</div>

<div class="container">
  {{ content }}
</div>
