@import url("https://use.typekit.net/ies6qna.css");
@import "fonts/jetbrains-mono/jbm.css";

:root {
  --sl-font-sans: proxima-nova, sans-serif;
  --sl-font-serif: chaparral-pro, serif;
  --sl-font-mono: jetbrains-mono-regular, monospace;
}

*, ::after, ::before {
  box-sizing: border-box;
}

::selection {
  background-color: var(--sl-color-rose-700);
  color: var(--sl-color-lime-50);
}

::-moz-selection {
  background-color: var(--sl-color-rose-700);
  color: var(--sl-color-lime-50);
}

html {
  line-height: var(--sl-line-height-dense);
}

body {
  background-color: var(--sl-color-lime-50);
  color: var(--sl-color-gray-900);
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-large);
}

a {
  color: var(--sl-color-rose-600);
  text-decoration: underline dotted;
}

.app-logo-link {
  text-decoration: none;
}

.app-navigation {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: var(--sl-spacing-medium) 0;
}

.app-logo {
  fill: var(--sl-color-rose-700);
  height: 50px;
}

@media (min-width: 900px) {
  .app-logo {
    height: 72px;
  }
}

.app-logo-container {
  grid-column: 1 / 2;
}

.app-menu-container {
  grid-column: 3 / 4;
}

.box-shadow {
  box-shadow: 
    12px 12px 0 0 var(--sl-color-lime-50),
    13px 11px 0 0 var(--sl-color-rose-700),
    13px 13px 0 0 var(--sl-color-rose-700),
    11px 13px 0 0 var(--sl-color-rose-700);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-fluid {
  width: 100%;
}

@media (min-width: 900px) {
  .container {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

.creds {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--sl-spacing-large);
  gap: var(--sl-spacing-medium);
  font-size: var(--sl-font-size-small);
}

.creds > * {
  height: 1.5rem;
}

.cred-names {
  display: none;
}

@media (min-width: 1000px) {
  .cred-names {
    display: inline-flex;
  }
}

code, pre {
  font-family: var(--sl-font-mono);
  font-size: .9rem;
}

code {
  color: var(--sl-color-lime-800);
}

pre {
  line-height: 1.2;
  overflow-x: scroll;
  white-space: pre;
}

h1 {
  font-family: var(--sl-font-serif);
  font-weight: 300;
  font-size: var(--sl-font-size-2x-large);
}

h2 {
  font-weight: var(--sl-font-weight-semibold);
}

.home-intro-container {
}

.home-selfie {
  float: left;
  width: 100%;
  max-width: 40%;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 700px) {
  .home-selfie {
    max-width: 33%;
  }
}

@media (min-width: 1100px) {
  .home-intro-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
  }

  .home-selfie {
    max-width: 100%;
    float: none;
  }
}

.home-content {
}

.home-title {
  display: flex;
  justify-content: center;
}

.logo-invoke {
  height: 1rem;
}

.logo-bridgetown {
  height: 1.5rem;
}

.logo-ruby {
  height: 1rem;
  margin-left: var(--sl-spacing-2x-small);
}

.logo-shoelace {
  height: 1rem;
  margin-bottom: -.2rem;
}

.logo-dwm {
  height: 1.5rem;
}

p {
  font-family: var(--sl-font-serif);
  width: 100%;
  max-width: 75ch;
}

.main-menu {
  display: flex;
  font-size: var(--sl-font-size-medium);
  gap: 1rem;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu a {
  color: var(--sl-color-rose-700);
  text-decoration: none;
}

.main-menu li {
  padding: 0;
  margin: 0;
}

.sub-title {
  font-family: var(--sl-font-sans);
  font-weight: var(--sl-font-weight-light);
  font-size: var(--sl-font-size-large);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--sl-spacing-large) 0;
  gap: var(--sl-spacing-small);
}

ul {
  list-style-type: square;
  width: 100%;
  max-width: 50ch;
}

li {
  padding-bottom: 1rem;
}
