<header>
  <div class="app-navigation container">
    <section class="app-logo-container">
      <a class="app-logo-link" href="/" alt="homepage">{% render "logo" %}</a>
    </section>

    <nav class="app-menu-container">
      <ul class="main-menu">
        <li><a href="{{ '/blog' | relative_url }}">Blog</a></li>
        <li><a href="{{ '/values' | relative_url }}">Values</a></li>
        <li><a href="{{ '/uses' | relative_url }}">Uses</a></li>
      </ul>
    </nav>
  </div>
</header>
